body{
    background-image: url(barrels.jpg);
    background-size: cover;
}

.container{
    margin-top: 100px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    background-color: rgba(206,116,64,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    text-align: center;
    color:black;
}

p{
    text-align: center;
    color:black;
    font-weight: 400;
}

input{
    width:50%;
}

.box-wynik{
    font-family:monospace;
    font-weight: 600;
    margin-top: 30px;
    background-color: rgb(241, 241, 241);
    font-size: 18px;
    padding: 5px;
}

#wynik{
    display: flex;
    justify-content: center;
}